@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  font-family: "Arima", system-ui;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  animation: lazyload 2s;
}
@keyframes lazyload {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
